<h2>Newest Patterns from <em>andwabisabi</em></h2>
<div id="patterns">
  <!-- Generate Pattern Divs from Results -->
  {{#each etsyData.results}}
  <div class="pattern">
    <p>{{this.title}}
      <a href="{{this.url}}" target="_blank">
      <button>Stitch It!</button>
      </a>
    </p>
    <img src={{this.MainImage.url_170x135}} alt={{this.title}}>      
  </div>
  {{/each}}
</div>
