<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  </head>
  <body>
    <h1>Cross Stitch</h1>
    <div class="x_icons">
      <img src="/assets/x_icon.svg" alt="x icon">
      <img src="/assets/x_icon.svg" alt="x icon">
      <img src="/assets/x_icon.svg" alt="x icon">
      <img src="/assets/x_icon.svg" alt="x icon">
      <img src="/assets/x_icon.svg" alt="x icon">
      <img src="/assets/x_icon.svg" alt="x icon">
    </div>
    {{{body}}}
  </body>
</html>
